<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Information and Details</title>
</head>
<body>

    <header>
        <h1>Shri Infotech Solution</h1>
    </header>

    <section>
        <h2>Contact Information</h2>
        <p>If you have any questions or need to get in touch with us, please use the following contact details:</p>
        <ul>
            <li>Email: sanjaypython22@gmail.com</li>
            <li>Phone: 8279408396</li>
        </ul>
    </section>

    <section>
        <h2>Address</h2>
        <p>Shri Infotech Solution</p>
        <p>Radha Niwash Govind Kund Vrindavan Mathura Uttar Pradesh</p>
        <p>Vrindavan - Pin: 281121</p>
        <p>India</p>
    </section>

    <section>
        <h2>Business Hours</h2>
        <p>We are Always open</p>
    </section>

</body>
</html>
