{% extends 'base.html' %}

{% block title %}Download Report{% endblock %}

{% block css %}
<style>
        body {
            font-family: 'Georgia', serif;
            background: linear-gradient(to right, #a6c0fe, #f68084);
        }

        .container {
            width: 500px;
            border: 1px solid #ccc;
            padding: 20px;
        }

        .container p {
            font-size: 1em;
            text-align: justify;
        }

        .container p:first-child {
            font-weight: bold;
            font-size: 1.2em;
        }

        .my_para{
            font-family: 'Tiro Devanagari Hindi', serif;
            text-align: justify;
            text-justify: inter-word;
            justify-content: space-evenly;
        }

</style>
{% endblock css %}


{% block content %}
    <div class="col-lg-6 p-2 bg-light border mx-auto" id="contentToConvert">
        <p id="r_title">{{title}}</p>
        <img class="img-fluid mb-3" src="{{file}}">
        <p>{{reporter}}</p>
        <p style="text-align: justify" class="my_para">
            <span><b>{{city}}</b></span> {{description}}
        </p>
    </div>
    <button onclick="downloadImage()">Download</button>
{% endblock %}

{% block js %}
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script>
        function downloadImage() {
            const container = document.getElementById('contentToConvert');

            html2canvas(container).then(canvas => {
                const dataURL = canvas.toDataURL('image/png');

                const link = document.createElement('a');
                link.href = dataURL;
                link.download = 'downloaded_image.png';

                document.body.appendChild(link);
                link.click();

                document.body.removeChild(link);
            });
        }
</script>

{% endblock js %}
