{% extends 'base.html' %}

{% block title %}create report{% endblock %}

{% block css %}
<style>
         body {
          background: linear-gradient(to right, #a6c0fe, #f68084);
        }
         .report_form {
            border-radius: 15px; /* Adjust the value to change the curvature */
            overflow: hidden; /* Ensures the corners are rounded even with a background color */
        }
        .service-card{
            border-radius:10px
        }

</style>
{% endblock css %}

{% block content %}
<div class="container mt-5">
    <div class="row mx-auto" id="service_div">
        {% for service in service %}
        <div class="col-lg-3 bg-light service-card shadow text-center">
            <img src="{{service.img.url}}" alt="" class="img-fluid p-3">
            <p>{{ service.name|title }}</p>
            <p>{{ service.desc|slice:":113" }}</p>
            <button type="button" class="btn btn-primary mb-2" onclick="create_article()">Create Article</button>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    function create_article(){
        window.location.href = '/article/';
    }
</script>
{% endblock js %}
